<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Puppy Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>

    <h1>Welcome to the Puppy Survey</h1>
    <form method="POST">
        {{form.hidden_tag()}}
        {{form.breed.label}} {{form.breed}}
        <br>
        {{form.neutered.label}} {{form.neutered}}
        <br>
        {{form.mood.label}} {{form.mood}}
        <br>
        {{form.food.label}} {{form.food}}
        <br>
        {{form.comments.label}} {{form.comments}}
        <br>
        {{form.submit()}}
    </form>
    
</body>
</html>