<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>
        <ul>
            
            {% for name in puppy_names %}
                <li>{{name}}</li>
            {% endfor %}

        </ul>

        {% if 'Ted' in puppy_names %}
        <p>Found you Ted</p>
        {% else %}
        <p> Hmmm Ted is not in the list </p>
        {% endif%}
    </h1>
</body>
</html>