{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1>Welcome to puppy Name Check</h1>
    <p></p>
    <h1>Lets see if your username is secure</h1>
    <p></p>
    <h1>Fill out the form below with a username</h1>
    <p></p>
    <ul>
        <li>Must have an upper case letter</li>
        <li>Must have a lower case letter</li>
        <li>Must end in a number</li>
    </ul>

    <form action="{{url_for('report')}}">
        <label for="first">UserName:</label>
        <input type="text" name="username">
        <input type="submit"value="Submit Form">
        
    </form>

</div>


{% endblock %}